.landing-section {
  background-image: url("img/Group 25.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.stats-section {
  background: var(--gradient-red);
}

.projects-section {
  background: var(--gray0);
}

.company-section {
  background: var(--white);
}
.services-section {
  background: var(--gray0);
}

.about-section {
  background: var(--white);
}

.testimonials-section {
  background: var(--gray0);
}

.citation-section {
  background: var(--gradient-red);
}

.hobbies-section {
  background: var(--gray0);
}

.faq-section {
  background: var(--white);
}